<!-- filename: views/layouts/main.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= title %> - <%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
  <%- typeof extraStyles !== 'undefined' ? extraStyles : '' %>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <%- body %>
  </div>
  <%- include('../partials/footer') %>
  <script src="/js/main.js"></script>
  <%- typeof extraScripts !== 'undefined' ? extraScripts : '' %>
</body>
</html>
